<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script type="text/javascript" src="./js/pixi/pixi.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
